.ErrorMessage{
    color: var(--col-danger);
    padding: 1em;
    font-weight: 700 ;
    background-color: rgb(247, 158, 158);
    border-radius: .25em;
    margin-bottom: 1em;
    animation-name: slideInDown ;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes slideInDown{
      0%{
        transform:translateY(-50%);
        opacity: 0;
      }
      100%{
        transform:translateY(0%);
        opacity: 1;
      }
  }