
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --col-primary: #1565c0;
  --col-secondary:#efefef;
  --col-primary-font: white;
  --col-secondary-font:#083338;
  --col-text:#333;

  font-family: 'Open Sans Condensed', sans-serif;
 
  color: var(--col-text);

  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form{
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  margin: auto;
  margin-top: 40px;
  width: 50%;
  border: 5px groove;
 border-radius: 25px;
  
}
.Translation{
  margin-top: 20px;
  min-height: 30vh;
  min-width: 30vH;
  width: 100%;
  
  height: 100%;
  padding: 0.5em;
  border-style: groove;
  border-radius: 25px;
  background-color:white; 
}

.ProfileDiv{
width:80%;}

.Container{
  flex: 1;
  height: auto;
  width: 100%;
  padding: 1em;
  min-height: 40vh;
  border-style: groove;
  border-radius: 25px;
  background-color: #efefef; 
}
.Image{
    max-width: 15%;
    max-height: 15%;
}


.InputGroup{
  margin-bottom: 1em;
}
.TranslationForm{
  justify-content: space-between;
  display: flex;
}

.InputLabel{
  display: block;
}

.Input{
  font-family: inherit;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: .65em;
  border-radius: .25em;
  border: 1px solid #efefef;
  }


  .Button{
font-family: inherit;
font-size: 1em;
padding: .5rem 1rem;
font-weight: 700;
border: 1px solid white;
border-radius: .25em;
}

.ButtonPrimary{
  color: var(--col-primary-font);
  background-color: var(--col-primary);
}
.ButtonPrimary:hover{
  color: var(--col-secondary);
  background-color: var(--col-secondary-font);
}

.ButtonSecondary{
  color: var(--col-secondary-font);
  background-color: var(--col-secondary);
}

.ButtonSecondary:hover{
  color: var(--col-secondary);
  background-color: var(--col-secondary-font);
}

.container{
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper{
display: flex;
justify-content: space-between;
padding: 20px;
background-color:#255258;
}
.right-side{
  display: flex;
}
.left-side{
  display: flex;
  color: var(--col-primary-font);
  text-decoration: none;
  transition: colr 0.5s;
}
.nav-wrapper > .right-side> div{
margin-right: 20px;
font-size: 0.9em;
}
.nav-wrapper > .left-side> div{
  margin-right: 20px;
  font-size: 0.9em;
  }

.nav-button-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

